#!/bin/sh

# Make sure this is before the 'exec' command or it won't be sourced.
#[ -f /etc/xprofile ] && . /etc/xprofile
#[ -f ~/.xprofile ] && . ~/.xprofile


export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

xrandr --output DP-2 --mode 2560x1440 --rate 144 &

discord &

spotify-launcher &

fcitx5 &
