#!/bin/sh

# Make sure this is before the 'exec' command or it won't be sourced.
#[ -f /etc/xprofile ] && . /etc/xprofile
#[ -f ~/.xprofile ] && . ~/.xprofile


export XMODIFIERS=@im=fcitx
export GTK_IM_MODULE=fcitx
export INPUT_METHOD=fcitx
export QT_IM_MODULE=fcitx
export SDL_IM_MODULE=fcitx
export GLFW_IM_MODULE=ibus
fcitx5 &

# dunst seems to lauch automatically
# dunst &

xrandr --output DP-2 --mode 2560x1440 --rate 144 &

discord &

spotify-launcher &

picom &

